.card-footer {
    margin-top: 5%;
    margin-left: 45%;
    width: 15rem;
    display: inline-block;
}

.ml-2{
margin-left: 30%;
}

.head-shot{
    margin-left: 40%;
}

.Find-Me{
    margin-top: 1.5%;
    margin-left: 38%;
    margin-bottom: 1.5%;
}
